/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #7e56c2;
  --vp-c-brand-2: #7e56c2;
  --vp-home-hero-name-color: #7e56c2;
  --vp-c-indigo-3: #7e56c2;
  /* --vp-home-hero-name-background: -webkit-linear-gradient(135deg, #bd34fe, #7e56c2); */
}

:root {
  /* --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #67b9c9 30%,
    #7e56c2
  ); */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #67b9c9 50%,
    #7e56c2 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}
